body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 50px;
    border: 1px solid red;
}

.footer {
    width: 100%;
    height: 100px;
    border: 1px solid green;
}

.content {
    width: 100%;
    height: 300px;
    display: flex;
}

.user_list {
    overflow: auto;
    width: 200px;
    border: 1px solid orange;
}

.user_chat {
    overflow: auto;
    width: 100%;
    border: 1px solid purple;
}

